{{ define "newUrlForm/newUrlForm.html" }}
<div class="container">
    <div>
        This is a simple url Shortener made with Golang, Gin and redis to learn Golang.<br/>
        Please use it reasonably.
        <br/>

    </div>
    <form action="/save" method="POST">
        <div class="form-group">
            <div>
                <label for="url">url</label>
                <input type="text" class="form-control bg-dark text-white" id="url" name="url"
                       aria-describedby="url to shorten"
                       placeholder="Enter url">
                <br/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{{ end }}